h1{
  color: white;
  font font-size: 32px;
  text-align: center;
  font-family: 'Roboto', sans-serif
}

h2{
  color: white;
  font font-size: 18px;
  text-align: center;
  font-family: 'Roboto', sans-serif
}

body{
  background-color: #464D5C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#bakgrund{
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translateX(-50%);
  z-index: -1;
}

table{
  color: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
      text-align: center;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
    color: #464D5C;
  }

@media only screen and (max-width: 800px) {                               /* När rutan blir tillräckligt liten gäller det som står under */
  #bakgrund{
    width: 100%;
    height: auto;
      top: 15%;
  }
}
