h1{
  font font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

h2{
  font font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #464D5C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

a{
  color: #14E7FE;
}

table{
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
  }

  td, th {
    border: 2px solid #dddddd;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
    color: #464D5C;
  }
