body{
background-color: #464D5C;
color: white;
}

span{
  font-size: 24px;
  font-family: 'Roboto', sans-serif
}

#bakgrund{
position: absolute;
left: 50%;
top: 40%;
transform: translateX(-50%);
z-index: -1;
}

h2{
  font-family: 'Staatliches', cursive;
  font-size: 32px;
}

h3{
  font-size: 22px;
  margin-bottom: auto;
  font-family: 'Roboto', sans-serif
}

.meny{
  background-color: #F7DDA4;
  justify-content: center;
  display: flex;
  color: black;
  border-radius: 10px;
  border-color: black;
  border-width: 5px;
  border-style: inset;
}

 .huvudbox{
  text-align: center;
}

.upload{
   background-color: #F7DDA4;
   border-style: inset;
   border-radius: 5px;
   border-color: black;
   border-width: 5px;
   color: black;
   margin: 5px;
   height: 50%;
}

footer{
   width: 20%;
   position: sticky;
   bottom: 0;
}

.box2{
   padding-top: 25%;
}

.dropdown {
   display: inline-block;
   padding-top: 30px;
   margin-left: 20px;

}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: white;
   min-width: 160px;
   padding: 12px 16px;
   border-radius: 15px 50px 30px 5px;

}

.dropdown:hover .dropdown-content {
display: block;
}

@media only screen and (max-width: 800px) {                               /* När rutan blir tillräckligt liten gäller det som står under */

#bakgrund{
  width: 100%;
}

h3{
    font-size: 16px;
}
span{
  font-size: 14px;
}

.box2{
  padding-top: 35%;
}
}
