body{
  margin: 0;                                                            /* Fyller ut boxarna */
   background-image: url("https://wallpapercave.com/wp/wp3400358.png"); /* Bakgrunds bild för body*/
}

.container{
  display: flex;                                                         /* Aktiverar flex commandorna för alla boxar */
  background-color: rgba(0, 0, 0, 0.6);                                  /* Bakgrundsfärg och opacitet 0.6 på alla boxar*/
  color: white;                                                          /* Vit färg på all text i alla boxar */
}

.vanster{
  flex-direction: column;                                                /* Så allt i i vänster lägger sig i column */
  font-size: 22px;                                                       /* Text strolek 22 pixlar */
  flex-basis: 10%;                                                       /* Tar upp 10% av platsen i container */
}

.dropdown {
    display: inline-block;                                               /* Så att rutan bryr sig om paddingen */
    padding-right: 10px;                                                 /* Innehållet ligger 10 pixlar från höger, 35 pixlar från toppen, 15 pixlar från vänster */
    padding-top: 30px;
    padding-left: 15px;

}

.dropdown-content {
    display: none;                                                       /* Så det som finns i dropdown-content inte visas hela tiden */
    position: absolute;                                                  /* Positionen ändras inte */
    background-color: white;                                             /* Bakgrundsfärgen är vit */
    min-width: 160px;                                                    /* minsta vid 160 pilxar */
    padding: 12px 16px;                                                  /* Hur innehållet i dropdown-content ska ligga till kanten */
    z-index: 1;                                                          /* Så att det i dropdown-content ligger över allt annat */
    border-radius: 15px 50px 30px 5px;                                   /* Borderens firgur */
}

.dropdown:hover .dropdown-content {                                      /* Om man håller över det som finns i dropdown kommer dropdown-content fram */
display: block;                                                          /* Säger att dropdown-content ska visas i som en fyrkant */
}

h2{
  color: white;                                                          /* Färgen på alla rubriker */
  font-size: 24px;                                                       /* storleken på alla rubriker */
}

.mitten{
  flex-direction: column;                                                /* Det som finns i mitten ska visas i kolumn */
  flex-basis: 60%;                                                       /* Tar upp 60% av platsen i container */
  padding: 10px;                                                         /* Avstånd från kanten */

}

.hoger{
  flex-direction: column;                                                /* Det som finns i höger ska visas i kolumn */
  flex-basis: 30%;                                                       /* Tar upp 30% av platsen i container */
  padding: 10px;                                                         /* Avstånd från kanten */

}





@media only screen and (max-width: 800px) {                               /* När utan blir tillräckligt liten gäller det som står under */
.container{
  flex-direction: column;                                                /* Det som finns i container ska visas i kolumn */
}
}
