body{
  margin: 0;
}

.container{
display: flex;
}

.vanster{
  display: flex;
  flex-direction: column;
  background-color: blue;
  font-size: 22px;
  flex-basis: 10%;

}

.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.mitten{
  display: flex;
  flex-direction: column;
  background-color: red;
  flex-basis: 60%;
}

.hoger{
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: purple;
}





@media only screen and (max-width: 800px) {
.container{
  flex-direction: column;
}
}
